*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1: hotpink;
    --box-shadow: 6px 6px 10px rgba(0,255,0,.5);
    --gradient: linear-gradient(to top, #a18cd17a 0%, #fbc2eb76 100%);

}

body{
    font-family: 'arial';
    min-height: 100vh;
    background-image: var(--gradient);
}

.card{
    background: #fff;
    width: 300px;
    margin: 30px auto;
    padding: 30px 20px;
    box-shadow: var(--box-shadow);
}

.card__title{
    font-size: 30px;
    color: var(--color1);
    margin-bottom: 20px;

}

.card__cta{
    display: inline-block;
    padding: 12px 20px;
    margin-top: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-image: var(--gradient);

}

.card2{
    background: #fff;
    width: 300px;
    margin: 30px auto;
    padding: 30px 20px;
    box-shadow: var(--box-shadow);
    --color1: crimson;
}

.card2__title{
    font-size: 30px;
    color: var(--color1);
    margin-bottom: 20px;
}