@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700;1,900&family=Raleway:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,500&family=Rubik+Spray+Paint&display=swap');

:root{
    --gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    --gradient1: linear-gradient(135deg, #667eea64 0%, #764ba26b 100%);
    --url-img: url(img/bg.jpg);
    --box-shadow: 6px 6px 10px rgba(0,0,0,.6);
    --width: 100%;
    --raduis:8px;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-image: var(--gradient1),var(--url-img);
    min-height: 100vh;
    background-position: center;
    background-size: cover;

}

.form{
    width: 400px;
    background: #fff;
    margin: 70px auto;
    padding: 30px 20px 40px;
    text-align: center;
    border-radius: var(--raduis);
    -webkit-border-radius: var(--raduis);
    -moz-border-radius: var(--raduis);
    -ms-border-radius: var(--raduis);
    -o-border-radius: var(--raduis);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.input{
    width: var(--width);
    padding: 20px 5px;
    display: block;
    border: 1px solid #b39b9b;
    margin-bottom: 20px;
    outline: none;
}

.form__title{
    margin-bottom: 40px;
    font-size: 2rem;
}

.input, input__submit{
    font-family: inherit;
}

.form__message{
    max-width: var(--width);
    min-width: var(--width);
    max-height: 150px;
    min-height: 150px;
}

.form__submit{
    display: block;
    width: var(--width);
    font-size: 18px;
    background-image: var(--gradient);
    padding: 15px 30px;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;

    
    .form__submit:hover{
        background-image: var(--gradient1);
      
    }




